{% extends 'base.html' %}
{% block content %}

<h1>{{ city.name }}</h1>
<img src="{{ city.image }}">
<p><a href="{% url 'new_review' city.id %}">Add a New Post</a></p>
{% for review in reviews %}
    {% comment %} <div class="review-card"> {% endcomment %}
    <div class="card">
        <div class="card-body">
            <a class="review-title" href="{% url 'detail' review.id %}">{{review.title}}</a>
            <p>{{review.date}}</p>
        </div>
    </div>
    <br>

{% endfor %}



{% endblock %}