{% extends 'base.html' %}
{% block content %}

  <div class="row justify-content-center">
    <h1>{{ city.name }}</h1>
  </div>
  <div class="row">
    <img class="city-img center-block" src="{{ city.image }}">
  </div>
  <div class="row justify-content-center">
    <form action="{% url 'new_review' city.id %}">
      <input type="submit" class="btn btn-primary" value="Add A New Review for {{city.name}}" />
    </form>
  </div>
  {% for review in reviews %}
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between ">
          <a class="review-title" href="{% url 'detail' review.id %}">{{review.title}}</a>
          <span class="review-date align-self-end align-top"><em>{{review.date}}</em></p>
        </div>
        <div class="d-flex flex-row align-items-center">
          {% for profile in profiles %}
            {% if profile.id == review.profile_id %}
              {% if profile.photo.url %}
                <img class="profile-picture profile-preview" src="{{ profile.photo.url }}" alt="{{profile.first_name}} {{ profile.last_name}} profile photo">
              {% else %}
                <img class="profile-picture profile-preview" src="../../static/main_app/images/default_profile_picture.jpeg" alt="Wayfarer default profile picture">
              {% endif %}
            {% endif %}
          {% endfor %}    
          <p class="text-truncate content-preview align-text-bottom review-content">{{review.content}}</p>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
  
{% endblock %}