{% extends 'base.html' %}
{% block content %}

<h1>{{ city.name }}</h1>

<img class="city-img" src="{{ city.image }}">

{% comment %} <p><a href="{% url 'new_review' city.id %}">Add a New Post</a></p> {% endcomment %}

<form action="{% url 'new_review' city.id %}">
  <input type="submit" class="btn btn-primary" value="Add A New Review for {{city.name}}" />
</form>


{% for review in reviews %}
    {% comment %} <div class="review-card"> {% endcomment %}
    <div class="card">
        <div class="card-body">
            <a class="review-title" href="{% url 'detail' review.id %}">{{review.title}}</a>
            <p class="review-date"><em>{{review.date}}</em></p>
            <p class="text-truncate content-preview">{{review.content}}</p>

        </div>
    </div>
    <br>

{% endfor %}



{% endblock %}