{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="card review-card">
      <h1>{{ review.title }}</h1>
      <p>by {{ profile.first_name }} {{ profile.last_name }}</p>
      <p> {{ review.date }} </p>
      <p> {{ review.content }} </p>
    </div>  
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <form action="{% url 'edit' review.id %}">
      <input type="submit" class="d-inline-block btn btn-primary" value="Edit Review" />
    </form> 
    <button type="button" class="d-inline-block btn btn-danger" data-toggle="modal" data-target="#deleteModal">
      Delete Review
    </button>
  </div>
  
  <!-- Modals -->
  
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deleting "{{review.title}}"will be permanent and you will be left only with your memories.</p>
        </div>
        <div class="modal-footer">        
          <form action="{% url 'delete' review.id %}">
            <input type="submit" class="btn btn-danger" value="Delete" />
          </form> 
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}