{% extends 'base.html' %}
{% block content %}

  <h1>Wayfarer is...</h1>
  <hr />
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/YsiM4HH.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">AN    INSPIRATION</h5>
          <p class="card-text">Feeling stuck? Find and plan your next travel destination with insightful posts from our discerning wayfarers. </p>
          {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/oTXmPQV.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">A    JOURNEY</h5>
          <p class="card-text">Off in a strange land and unsure which fork to take? City-specific guidance will help you make the most of your trip, wherever you are.</p>
          {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/JcqKupX.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">A   SOUVENIR</h5>
          <p class="card-text">Nostalgic for your last amazing trip? Relive those moments by posting  memories and photos (or live vicariously through someone else's!). </p>
          {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
  </div>

{% endblock %}