{% extends 'base.html' %}
{% block content %}

  {% comment %} <h1>Cities</h1> {% endcomment %}
  <hr />
  <div class="container">
    <h3>Cities:</h3>
    <form>
      <ul class="cities-list">
      {% comment %} WHEN POPULATING WITH A FOR LOOP, REMEMBER TO UPDATE id and value OF EACH INPUT {% endcomment %}
        <li>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">San Francisco</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option2" checked>
            <label class="form-check-label" for="gridRadios2">London</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" checked>
            <label class="form-check-label" for="gridRadios3">Sydney</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4" checked>
            <label class="form-check-label" for="gridRadios4">Seattle</label>
          </div>
        </li>
      </ul>
    </form>  
  </div>
  
  <div class="container">
  </div>

{% endblock %}

{% comment %} CODE FOR CHECK BOX (instead of radios)...these wouldn't be mutually exclusive {% endcomment %}
        {% comment %} <li>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">London</label>
          </div>
        </li> {% endcomment %}