{% extends 'base.html' %}
{% block content %}

  <h1 class="center">Welcome To Wayfarer</h1>
  <hr />
  <div class="container">
    <div class="card home-card mx-auto">
      <h5 class="card-header center text-wrap text-break" id="heading'.$collapseID.'">A city-centric review site for discerning travelers.</h5>
      <div class="card-body">
        <h5 class="card-title center collapsed">Where will life take you?</h5>
        <p class="card-text center text-wrap">No matter the answer, Wayfarer has you covered.</p>
        <form class="center" action="{% url 'cities_index' %}">
          <input type="submit" class="btn btn-outline-success" value="CHOOSE      A     CITY" />
        </form>
      </div>
    </div>   
  </div>

{% endblock %}