{% extends 'base.html' %}
{% block content %}

  <h1>{{profile.first_name}}'s Profile</h1>
   <hr />
  
  <p>Member since {{profile.user.date_joined}} </p>
  <p>Current City: {{profile.current_city}} </p>
  <form action="{% url 'edit_profile' profile.id %}">
    <input type="submit" class="btn" value="Edit Profile" />
  </form>
  <br>
  <h2>My Reviews: </h2>
  {% for review in reviews %}
    <div class="review-card">
      <a class="review-title" href="{% url 'detail' review.id %}">{{review.title}}</a>
      <p>{{review.date}}</p>
    </div>
{% endfor %}
{% endblock %}

    {% comment %} <a href="{% url 'detail' guitar.id %}">
    <div class="card-content hoverable red accent-4 black-text">
      <span class="card-title white-text">{{ guitar.gtrmodel }}</span>
      <p>Brand: {{ guitar.brand }}</p>
      <p>Description: {{ guitar.color }}</p>
      <p>Year: {{ guitar.year }}</p>
    </div> {% endcomment %}