body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Josefin Slab', serif;
  color: rgb(77, 77, 78);
  background: rgb(171, 218, 247);
  background-image: url(../images/home_background.jpg);
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  border-bottom: 3px solid white;
} 

.center {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, .review-title {
  font-family: 'Ranchers', cursive;
}

h1 {
  color: rgb(16, 100, 247);
  font-size: 5em;
  margin-top: 20px;
} 

h2 {
  color: rgb(16, 100, 247);
  font-size: 4em;
} 

h5 {
  font-size: 2em;
  white-space: pre;
} 

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

p {
  font-size: 1.5em;
}

.navbar-brand {
  font-family: 'Ranchers', cursive;
  font-size: 2em;
}

.nav-item, .navbar-nav {
  font-family: 'Ranchers', cursive;
  font-size: 1.3em;
}

label {
  font-family: 'Ranchers', cursive;
  font-size: 1.3em;
}

input {
  max-width: 20em;
}

.textinput, .textarea  {
  font-size: 1.5em;
}

.btn {
  font-family: 'Syne Mono', monospace;
  display:inline-block;
  margin:10px;
}

.form-control-file {
  margin-left: 0;
}

.btn-outline-success {
  font-family: 'Ranchers', cursive;
  color:white;
  background-color:transparent;
  border-color:white;
  white-space: pre;
}  

.btn-outline-success:hover {
  color:rgb(16, 100, 247);
  background-color: rgb(150,216,245);
  border-color:white;
} 

.btn-primary {
  color: white;
  background-color:rgb(16, 100, 247);
  border:2px solid white;;
}

.btn-primary:hover {
  color:rgb(16, 100, 247);
  background-color: rgb(150,216,245);
  border:2px solid white;;
}

.btn-danger {
  border:2px solid white;
}

.btn-danger:hover {
  color: #dc3545;
  background-color: white;
  border:2px solid #dc3545;
}

.navbar-nav > li{
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav > form{
  margin-left: 10px;
  margin-right: 10px;
}

.card{
  border: 5px solid white;
  margin-top: 2%;
}

.card-body {
  background-color: rgb(16, 100, 247);
  color: rgb(150,216,245);
}

.review-title {
  font-size: 40px;
  color: white;
  margin: 0px 10px 2px 20px;
}

.cities-anchor {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.cities-list {
  font-family: 'Ranchers', cursive;
}

.profile-info {
  font-size: 25px;
  font-weight: bold;
  color: rgb(16, 100, 247);
  font-style: italic;
}

.col-sm-7, .col-sm-5 {
  background-color: rgb(16, 100, 247);
}

.bio {
  font-size: 1em;
}

.home-card {
  max-width: 70vw;
}

.city-index {
  font-family: 'Ranchers', cursive;
}

a:hover {
  color:rgb(171, 218, 247);
}

.city-img {
  margin: 0 auto;
  max-width: 85vw;    
  border: 5px white solid;
  border-radius: 5%;
}

.active {  
  text-align: center;
}

.review-card {
  padding: 20px;
  border: 5px solid rgb(16, 100, 247);
  margin:50px 10px 20px;
}

.review-date {
  font-size: 1.2em;
  margin: 10px 20px;;
}

.content-preview {
  font-size: 1.3em;
}

.profile-picture {
  margin: 0 auto;
  width: 60px;  
  border: 2px white solid;
  border-radius: 5%;
}

.main-profile-picture {
  margin: 0 auto;
  width: 200px;  
  border: 5px white solid;
  border-radius: 5%;
}

.profile-preview {
  margin: 2px 10px;
}

.city-picture-small {
  margin: 0 auto;
  height: 60px;  
  border: 2.5px solid white;
  border-radius: 5%;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################



Extra small devices (portrait phones, less than 544px) 
Bootstrap "mobile first" default
*/
h1 {font-size:3rem;}
h5 {font-size:1rem;} 
.review-title {font-size: 1.3em}
.review-date {font-size: .8em}
.review-content {font-size: 1em}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h5 {font-size:1rem;} 
  .review-title {font-size: 1.7em}
  .review-date {font-size: 1em}
  .review-content {font-size: 1.3em}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:3rem;}  
  h5 {font-size:1.5rem;}  
  .review-date {font-size: 1em}
  .review-content {font-size: 1.3em}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:4rem;}  
  h5, .review-title {font-size:2rem;}
  .review-date {font-size: 1.2em}
  .review-content {font-size: 1.5em}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {font-size:5rem;}   
  h5, .review-title {font-size:2.5rem;}  
  .review-date {font-size: 1.8em}
  .review-content {font-size: 1.6em}
}

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  h5 {font-size:2rem;} 
}