body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Josefin Slab', serif;
  color: rgb(77, 77, 78);
  background: rgb(171, 218, 247);
  background-image: url(../images/home_background.jpg);
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  border-bottom: 3px solid white;
} 

ul {
  list-style-type: none;
}

h1 {
  color: rgb(16, 100, 247);
  font-size: 5em;
  font-family: 'Ranchers', cursive;
} 

h2 {
  color: rgb(16, 100, 247);
  font-size: 4em;
  font-family: 'Ranchers', cursive;
} 

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

p {
  font-size: 1.5em;
}

.navbar-brand {
  font-family: 'Ranchers', cursive;
  font-size: 2em;
}

.nav-item, .navbar-nav {
  font-family: 'Ranchers', cursive;
  font-size: 1.5em;
}

.btn-outline-success {
  color:white;
  background-color:transparent;
  border-color:white;
}  

.btn-outline-success:hover {
  color:rgb(16, 100, 247);
  background-color: rgb(150,216,245);
  border-color:white;
} 

.btn-primary {
  color: white;
  background-color:rgb(16, 100, 247);
  border-color:white;
}

.btn-primary:hover {
  color:rgb(16, 100, 247);
  background-color: rgb(150,216,245);
  border-color:white;
}

.navbar-nav > li{
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav > form{
  margin-left: 10px;
  margin-right: 10px;
}

.card-body {
  background-color: rgb(16, 100, 247);
  color: white;
}

.review-title {
  font-size: 40px;
  color: white;
}

/* IF NEEDED TO OVERRIR BOOTSTRAP SWITCH FROM content-box to border-box */
/* .selector-for-some-widget {
  box-sizing: content-box;
} */

/* REFERENCE FOR BOOTSTRAP COLORS and BREAKPOINTS */
  /* --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; */
  /* Examples
CSS variables offer similar flexibility to Sass’s variables, but without the need for compilation before being served to the browser. For example, here we’re resetting our page’s font and link styles with CSS variables.

Copy
body {
  font: 1rem/1.5 var(--font-family-sans-serif);
}
a {
  color: var(--blue);
}
You can also use our breakpoint variables in your media queries:

Copy
.content-secondary {
  display: none;
}

@media (min-width(var(--breakpoint-sm))) {
  .content-secondary {
    display: block;
  }
} */