{% extends 'base.html' %}
{% block content %}

  <h1>{{profile.first_name }} {{ profile.last_name}}'s Profile</h1>
  <hr />

  {% if profile.photo.url %}
    <img class="profile-picture" src="{{ profile.photo.url }}" alt="{{profile.first_name}} {{ profile.last_name}} profile photo">
  {% else %}

    <img class="profile-picture" src="../static/main_app/images/default_profile_picture.jpeg" alt="Wayfarer default profile picture">

    <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Add Profile Picture">
    </form>

  {% endif %}
  
  <p class="profile-info">Wayfarer since {{profile.user.date_joined|date:'M d, Y'}}</p>
  <p class="profile-info">Current City: {{profile.current_city}} </p>
  <form action="{% url 'edit_profile' profile.id %}">
    <input type="submit" class="btn btn-primary" value="Edit Profile" />
  </form>
  <br>
  {% if reviews %}
  <h2>My Reviews: </h2>
    {% for review in reviews %}
      <div class="card">
        <div class="card-body">
          <a class="review-title" href="{% url 'detail' review.id %}">{{review.title}}</a>
          <p>{{review.date}}</p>
        </div>
      </div>
      <br>
    {% endfor %}
  {% else %}  
    <div class="card">
      <div class="card-body">
        <h5>Once you write some reviews, you can find them here.</h5>
        <p>For now, head over to <a class="cities-anchor" href="{% url 'cities_index' %}">Cities</a> and read reviews from our other wayfarers or add your own!</p>
      </div>
    </div>
  {% endif %}
{% endblock %}